# 01-3 이 도서가 얼마나 인기가 좋을까요?

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://nbviewer.jupyter.org/github/rickiepark/hg-da/blob/main/01-3.ipynb"><img src="https://jupyter.org/assets/share.png" width="61" />주피터 노트북 뷰어로 보기</a>
  </td>
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/rickiepark/hg-da/blob/main/01-3.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />구글 코랩(Colab)에서 실행하기</a>
  </td>
</table>

## 도서 관련 데이터 찾기

[공공데이터포털](https://www.data.go.kr/)

도서관 정보나루의 [남산도서관 장서/대출 목록](https://www.data4library.kr/openDataV?libcode=4707)

## CSV vs 엑셀

In [ ]:
import gdown

gdown.download('https://bit.ly/namsan_csv', 
               '남산도서관 장서 대출목록 (2021년 04월).csv', quiet=False)

Downloading...
From: https://bit.ly/3wLclvJ
To: /Users/haesun/github/hg-da/남산도서관 장서 대출목록 (2021년 04월).csv
58.1MB [00:05, 10.8MB/s]

'남산도서관 장서 대출목록 (2021년 04월).csv'

## 파이썬으로 CSV 파일 출력하기

In [ ]:
with open('남산도서관 장서 대출목록 (2021년 04월).csv') as f:
    print(f.readline())

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb9 in position 0: invalid start byte

In [ ]:
import chardet

with open('남산도서관 장서 대출목록 (2021년 04월).csv', mode='rb') as f:
    d = f.readline()

print(chardet.detect(d))

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [ ]:
with open('남산도서관 장서 대출목록 (2021년 04월).csv', encoding='euc-kr') as f:
    print(f.readline())
    print(f.readline())

번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,

"1","인공지능과 흙","김동훈 지음","민음사","2021","9788937444319","","","","","1","0","2021-03-19",

In [ ]:
import os
import glob
import unicodedata

for filename in glob.glob('*.csv'):
  nfc_filename = unicodedata.normalize('NFC', filename)
  os.rename(filename, nfc_filename)

## CSV 파일을 데이터프레임으로 읽기

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('남산도서관 장서 대출목록 (2021년 04월).csv', encoding='euc-kr')

/Users/haesun/github/hg-da/.env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3170: DtypeWarning: Columns (5,6,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df = pd.read_csv('남산도서관 장서 대출목록 (2021년 04월).csv', encoding='euc-kr',
                 low_memory=False)

In [ ]:
df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

`low_memory=False` 대신 `dtype` 지정

In [ ]:
df = pd.read_csv('남산도서관 장서 대출목록 (2021년 04월).csv', encoding='euc-kr',
                 dtype={'ISBN': str, '세트 ISBN': str, '주제분류번호': str})
df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

## 데이터프레임을 CSV 파일로 저장하기

데이터프레임을 CSV 파일로 저장

In [ ]:
df.to_csv('ns_202104.csv')

인덱스까지 저장됨

In [ ]:
with open('ns_202104.csv') as f:
    for i in range(3): print(f.readline(), end='')

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,,,,1,0,2021-03-19,
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,,,,1,0,2021-03-19,

데이터프레임을 읽을 때 CSV에 저장된 인덱스를 인식하지 못함

In [ ]:
ns_df = pd.read_csv('ns_202104.csv', low_memory=False)
ns_df.head()

,Unnamed: 0,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

인덱스 열 지정

In [ ]:
ns_df = pd.read_csv('ns_202104.csv', index_col=0, low_memory=False)
ns_df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

또는 인덱스를 제외하고 저장

In [ ]:
df.to_csv('ns_202104.csv', index=False)

엑셀로도 저장

In [ ]:
# 코랩을 사용하는 경우 xlsxwriter 패키지를 설치해 주세요.
!pip install xlsxwriter

In [ ]:
ns_df.to_excel('ns_202104.xlsx', index=False, engine='xlsxwriter')

In [ ]:
pd.read_csv('test.csv', header=0, names=['1','2','3']).columns

Index(['1', '2', '3'], dtype='object')

In [ ]:
df.columns

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권',
       '주제분류번호', '도서권수', '대출건수', '등록일자', 'Unnamed: 13'],
      dtype='object')

In [ ]:
df.columns != 'Unnamed: 13'

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False])

In [ ]:
ns_book = df.iloc[:, df.columns != 'Unnamed: 13']

In [ ]:
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [ ]:
ns_book = df.drop('Unnamed: 13', axis=1)

In [ ]:
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [ ]:
ns_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401682 entries, 0 to 401681
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       401682 non-null  int64
 1   도서명      401279 non-null  object
 2   저자       401481 non-null  object
 3   출판사      396887 non-null  object
 4   발행년도     401665 non-null  object
 5   ISBN     401682 non-null  object
 6   세트 ISBN  61871 non-null   object
 7   부가기호     325034 non-null  object
 8   권        68267 non-null   object
 9   주제분류번호   381360 non-null  object
 10  도서권수     401682 non-null  int64
 11  대출건수     401682 non-null  int64
 12  등록일자     401682 non-null  object
dtypes: int64(3), object(10)
memory usage: 39.8+ MB

In [ ]:
ns_book[ns_book['세트 ISBN'].notnull()].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
109,110,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129815,9788970129808,0,1,843.6,1,0,2021-03-12
110,111,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129822,9788970129808,0,2,843.6,1,0,2021-03-12
126,127,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129815,9788970129808,0,1,843.6,1,0,2021-03-12
127,128,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129815,9788970129808,0,1,843.6,1,0,2021-03-12
128,129,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129822,9788970129808,0,2,843.6,1,0,2021-03-12

In [ ]:
ns_book['부가기호'].unique()

array([nan, '1', '0', '9', '7', '4', '5', '6', '3', '2', '(', 'C', '8',
       'c', 'f', '전', '\\', 'q'], dtype=object)

In [ ]:
ns_book['도서권수'].value_counts()

1     348559
2      40757
0       6041
3       4457
4       1208
5        309
6        153
7         67
8         38
10        25
9         16
11        15
12         9
14         4
20         3
30         3
13         3
16         3
15         3
18         2
17         1
22         1
26         1
27         1
29         1
34         1
40         1
Name: 도서권수, dtype: int64

In [ ]:
ns_book[ns_book['부가기호'].notnull()].sort_values(by=['부가기호']).head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
244467,244468,건축이 건들건들,마이클 콕스 지음;오숙은 옮김,김영사,1999,9788934904267,9788934904267,(,NaN,610,1,2,2008-12-22
241816,241817,사회철학대계,백종현...[등]지음,민음사,1998,9788937421433,9788937421433,(,4,301,1,0,2008-12-30
244723,244724,믿지 못해 미스터리,앤서니 윌슨 지음;김은하 옮김,김영사,2000,9788934904984,9788934904977,(,NaN,001.9,0,0,2008-12-22
244724,244725,위대한 마법사 오즈,L. 프랭크 바움 지음;최인자 옮김,문학세계사,2000,9788970751856,9788970751849,(,1,843,0,0,2008-12-22
244725,244726,종교가 중얼중얼,애니타 개너리 지음;윤길순 옮김,김영사,2000,9788934905158,9788934904977,(,NaN,200,0,0,2008-12-22

In [ ]:
ns_book[ns_book['도서권수']==0]['대출건수'].value_counts()

0    6041
Name: 대출건수, dtype: int64

In [ ]:
ns_book_clean = ns_book[ns_book['도서권수']!=0]

In [ ]:
ns_book_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395641 entries, 0 to 401680
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       395641 non-null  int64
 1   도서명      395238 non-null  object
 2   저자       395442 non-null  object
 3   출판사      390917 non-null  object
 4   발행년도     395626 non-null  object
 5   ISBN     395641 non-null  object
 6   세트 ISBN  58426 non-null   object
 7   부가기호     322100 non-null  object
 8   권        65764 non-null   object
 9   주제분류번호   378135 non-null  object
 10  도서권수     395641 non-null  int64
 11  대출건수     395641 non-null  int64
 12  등록일자     395641 non-null  object
dtypes: int64(3), object(10)
memory usage: 42.3+ MB

In [ ]:
ns_book_clean['도서권수'].value_counts()

1     348559
2      40757
3       4457
4       1208
5        309
6        153
7         67
8         38
10        25
9         16
11        15
12         9
14         4
13         3
15         3
16         3
20         3
30         3
18         2
17         1
22         1
26         1
27         1
29         1
34         1
40         1
Name: 도서권수, dtype: int64